*{
  font-family: Calibri;
  font-size:18px;
}
header{
  text-align: center;
}
header h1{
  text-align: center;
  text-size: 150;
}

nav{
  text-align: center;
  padding: 0.5em;
  margin: 0em;
}
nav input, button{
  box-shadow: 2.5px 2.5px 1.5px 0.5px rgba(0,0,0,0.5);
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
  color: black;
  transition: 1s;
  width: 5em auto;
  height: 3em auto;
  border:none;
}

nav input:hover, button:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc));
  color: white;
  border:none;
  cursor:pointer;
}

nav input:focus{
  text-decoration:none;
  outline:none;
}

#menu{
  position:absolute;
}

#sub_navigation{
  margin:1em 0 0.5em -0.42em;
}

#sub_navigation #menu_button{
  border-radius: 0 5px 5px 0;

}

#sub_navigation input{
  border-radius: 5px;
  padding: 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
  color: black;
  transition: 1s;
  width: 5em auto;
  height: 3em auto;
  border:1px solid #A2A2A2;
}

#sub_navigation input:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc));
  color: white;
  cursor:pointer;
}

#sub_navigation input:focus{
  text-decoration:none;
  outline:none;
}

#create_form{
  position:fixed;
  margin-top:2.9em;
  margin-left:-16.3em;
  width:12.5em;
  height:15em;
  border:1px solid #A2A2A2;
  transition:all 0.3s ease;
}

#create_form form{
  padding:0.5em 0 0 0.5em;
}

#create_form form input{
  border-radius: 5px;
  height:1.5em;
  margin-bottom:0.3em;
  outline-color:black;
  border:1px solid #A2A2A2;
}

#create_form #submit_button{
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
  width:5em;
  height:2em;
  margin-left:6.4em;
  transition: 1s;
}

#create_form #submit_button:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc));
  color: white;
  cursor:pointer;
}

table{
  margin-left:30em;
}

table thead td{
  width:8em;
}
